<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Failed to connect</h1>
    <p class="secret-text">Click here to redirected to mainpage</p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/login" role="button">Log into Mainpage</a>
  </div>
</div>

<%- include('partials/footer') %>
